body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    background-color: #efefef;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

header a {
    color: #333;
    text-decoration: none;
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #333;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    margin: 0 0 5px 0;
}
